<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Mobile
  </button>
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col p-0">
            <h5 class="card-title">Mobile Name</h5>
            <p class="card-text">$ 45</p>
            <div class="offer-price p-2">
                <h5 class="text-white">Effective Price</h5>
                <h4 class="text-white">45678</h4>
            </div>
            <span>*including Bank offers</span>
            <p>
                SD8 Gen 2b Mobile platform 5000 mAh with 100W SUPERVOOC
            </p>
        </div>
        <div class="col p-0">
            <img src="../../../../assets/Images/oneplus.jpg" alt="" class="imageClass">
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
