<div class="wrapper py-3">
  <div class="container-fluid">
    <h5>Welcome to Dashboard {{userName}}</h5>
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-img" *ngFor="let result of carousels; let i = index"
        [ngClass]="{'active': i === 1}">
        <div [ngStyle]="{ 'background-image': 'url(' + result.imageUrl + ')' }" class="background-image"></div>
      </div>
    </div>
  </div>
</div>